<form id="weatherForm">
  <input type="text" placeholder="Location" />
  <button>Search</button>
</form>
<div class="loading"></div>
<div id="error">
  um erro qualquer
</div>
<div id="success">
  mensagem de sucesso
</div>