body {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  background-color: azure;
  font-family: Poppins;
}

.content {
  flex: 1;
  width: 100%;
}
.footer {
  border-top: 1px solid #999;
  width: 100%;
}
.header {
  color: #666;
  width: 100%;
}

#error,
#success {
  display: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

#error {
  border: 1px solid darkred;
  background-color: #ffdcdc;
  color: rgb(71, 0, 0);
}

#success {
  border: 1px solid rgb(202, 221, 255);
  color: back;
  background-color: #fff;
}

.loading {
  display: none;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 720px;
}

form {
  width: 100%;
  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: cenTER;
}

form button,
form input {
  padding: 4px 16px;
  border: 1px solid rgb(216, 216, 216);
  height: 32px;
}

form button {
  border-radius: 0 8px 8px 0;
  background-color: rgb(195, 245, 245);
  cursor: pointer;
}

form button:hover {
  background-color: rgb(94, 245, 245);
}

form input {
  flex: 1;
  border-radius: 8px 0 0 8px;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.profile .description {
  /* border: 1px solid #666; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.description h2 {
  color: #666;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.profile img {
  border: 1px solid #666;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

nav {
  width: 100%;
  margin: 0;
  background-color: #ccc;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

nav ul {
  display: flex;
  flex-direction: row;
  /* width: 100%;  */
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
}

nav ul li a {
  flex: 1;
  text-align: center;
  border-left: 1px solid #aaa;
  text-decoration: none;
  color: #333;
  font-weight: bolder;
}

nav ul li a:hover {
  background-color: #aaa;
}
